* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Navbar styles */
.navbar {
    background: #000000;
    height: 130px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 20px;
    padding: 10px 50px;
}

#navbar__logo {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #131313 100%);
    background-size: 100;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 350%;
    text-align: left;

}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: none;
    list-style: none;
    text-align: center;
    
}

.navbar__links {
    text-decoration: none;
    color: white;
    display: flex;
    align-items:top;
    justify-content:center;
    padding:0px 1px;
    height: 60%;
    font-size: 130%;
}

.navbar__links:hover {
    text-decoration: underline;
}

.main {
    background-color:#000000;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #8B0000;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__img--container img {
    width: 700px;
    max-width: 850px;
    height: ;
}

.squad_pic img {
    width: 100%;
    max-width: 1900px;
    height: auto;
}

@media (max-width: 768px) {
    .main__container {
        grid-template-columns: 1fr;
    }

    .cards {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        min-width: 100%;
    }

    .main__content h1 {
        font-size: 2.5rem;
    }

    .main__content h3 {
        font-size: 1.8rem;
    }
}

.main__content h1 {
    font-size: 4rem;
    background-color:#fcfcfc;
    background-image: linear-gradient(to top, #ff08844 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
}

.main__content h3 {
    font-size: 250%;
    background-color:#000000;
    background-image: linear-gradient(to top, #ff08844 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.banner {
    background: url('https://assets.liverpoolfc.com/homepage/homepage_lfc.jpg') no-repeat center center/cover;
    height: 200px;
    color: #8B0000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}

.content h2 {
    text-align: center;
    color: #000000; 
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    min-width: 600px;
    max-width: 600px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: darkred;
    align-items:center;
}

.card img {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card h3 {
    padding: 30px;
    color: #ffffff;
    font-size: 20px;
}

.card p {
    padding: 0px 30px 20px 30px;
    color: white;
}

.cards1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.card1 {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
    min-height: 450px;
    max-height: 450px;
    border: 2px solid #ddd;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: darkgoldenrod;
    align-items:center;
    text-align: center;
}

.card1 img {
    width: auto;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.card1 h3 {
    color: #000000;
    font-size: 25px;
    padding-bottom: 20px;
    text-align: center;
}

.card1 p {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top:60px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.footer a {
    color: #ff1515;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
